# TeX temp files
*.aux
*.log
*.pdf
*.toc
*.out
# Editor backup files
*~
*.bak
*.backup
backup
# Build directories for CMake
/build-*
tmp
Upload.txt
/archive_originals
*.zip
qtcreator-build
remotehosts.cfg
install_locally.cfg
remotehosts-squeeze.cfg
archive
node_modules
selenium-server-standalone-*.jar
/nbproject/private/
nbproject
